body::-webkit-scrollbar {
  display: none;
}

#header {
  height: 100vh;
  width: 100vw;
  color: #fff;
  position: relative;
  background: url('../images/home/pexels-burst-374870.jpg');
  background-position: center center;
  background-size: cover;
}

#header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

#header * {
  z-index: 10;
}

header #navbar {
  display: flex;
  justify-content: space-between;
  background-color: #444;
  /* background-color: rgba(68, 68, 68, 0.2); */
  height: 70px;
  opacity: 0.8;
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  transition: 0.5s;
}

header #navbar.top {
  background-color: transparent;
}

nav #nav-links a {
  text-decoration: none;
  color: #fff;
}

#header #showcase {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#header #navbar #logo {
  padding: 0 20px;
  font-size: 1.5rem;
  font-weight: 700;
}
#header #navbar #logo a {
  text-decoration: none;
  color: #fff;
}

#header #navbar #logo span {
  color: #28a745;
}

#header #navbar #logo i {
  margin-right: 10px;
}

#header nav #nav-links {
  padding: 0 20px;
}

#header nav #nav-links a {
  padding: 15px 25px;
}

#header #navbar #nav-links a:hover {
  border-bottom: solid 2px #28a745;
}

#header #showcase h1 {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

#header #showcase p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

button {
  font-size: 18px;
}

main {
  width: 100vw;
}

main #services {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 30px;
}

main section div.services {
  padding: 20px;
}

main section div.services i {
  font-size: 2rem;
  padding: 1rem;
  background-color: #28a745;
  border-radius: 50%;
  color: #fff;
}

main div h3.title {
  font-weight: 800;
  margin: 15px 0;
}

main div p {
  font-weight: 500;
  margin: 15px 0;
  color: black;
}

main #main2 {
  display: flex;
  /* justify-content: center; */
  width: 100%;
}

#main2 #people {
  display: flex;
  flex-direction: column;
  flex: 50%;
}

#main2 #people img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#main2 #textright {
  display: flex;
  flex-direction: column;
  background-color: #28a745;
  flex: 50%;
}

#main2 div.flex {
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: flex-start;
  justify-content: center;
  padding: 40px;
  height: 100%;
}

#main2 .btn {
  border: solid #fff 1px;
}

#main2 h1 {
  font-size: 2.5rem;
}

#main2 p {
  color: #fff;
}

#main3 {
  width: 100vw;
  padding: 20px 20px 40px;
}
section#main3 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 40px;
}

#main3 .container h1 {
  margin: 20px auto;
  font-weight: 500;
  font-size: 2.5rem;
}

#main3 #gallery {
  display: flex;
  width: 100%;
  /* height: 500px; */
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

#gallery a {
  flex: 25%;
  max-width: 25%;
  padding: 4px;
}

img {
  width: 100%;
}

#main4 {
  display: flex;
  width: 100vw;
  /* height: 50vh; */
}

#main4 .container {
  flex: 50%;
  background-color: #28a745;
  color: #fff;
}

#main4 #blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  flex: 50%;
  height: 100%;
}

#main4 #blog h1 {
  font-size: 2.5rem;
  margin: 20px 0;
}

#main4 #blog p {
  color: #fff;
  font-size: 1.2rem;
}

#main4 #blog .btn {
  background-color: #28a745;
  color: #fff;
  border: solid 2px #fff;
  font-size: 1.3rem;
}

#main4 #blog .btn a {
  text-decoration: none;
  color: #fff;
}

#main4 #blog .btn:hover {
  background-color: #139230;
}

#main4 #image {
  flex: 50%;
}

#main4 #image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main5 {
  width: 100vw;
  padding: 20px 20px 40px;
}

section#main5 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 40px;
}

#main5 .container h1 {
  margin: 20px auto 15px;
  font-weight: 500;
  font-size: 2.5rem;
}

#main5 #members {
  display: flex;
}

#main5 #members #team {
  flex: 33.3%;
  max-width: 33.3%;
  padding: 10px;
  text-align: center;
}

#main5 #members #team img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
}

#main6 {
  display: flex;
}

#main6 div.col {
  flex: 50%;
}

#main6 #image img {
  width: 100%;
  height: auto;
}

#main6 #contact #form {
  padding: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #f4f4f4;
}

#main6 #contact h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: 500;
}

#main6 #contact #form form {
  width: 100%;
}

#main6 #contact form input {
  display: block;
  width: 100%;
  padding: 8px 16px;
  margin-bottom: 20px;
  border: #d6d6d6 2px solid;
  outline: none;
  border-radius: 5px;
}

#main6 #contact form input:hover {
  border: #28a745 2px solid;
}

#main6 #contact form input:focus {
  border: #28a745 2px solid;
}

#main6 #contact form .btn {
  width: 100%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: #444;
  height: 120px;
  color: #fff;
}

div .flex {
  padding: 40px;
}

footer #icons i {
  font-size: 2rem;
  margin: auto 20px;
  cursor: pointer;
}

footer #icons i:hover {
  color: #28a745;
}

footer #text {
  margin-top: 10px;
}
