@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.btn {
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  background-color: #28a745;
  cursor: pointer;
}

.btn:hover {
  background-color: #139230;
}
